@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-titillium text-gray-900;
  }

  /* Títulos em Bebas Neue e Caixa Alta */
  h1, h2 {
    @apply font-bebas uppercase;
  }

  /* Subtítulos em Titillium Bold */
  h3, h4, h5, h6 {
    @apply font-titillium font-bold;
  }
}
